.heading {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 8.0pt;
    margin-left: 0in;
    line-height: 107%;
    font-size: 15px;
    color: #4A4A4A;
    text-align: center;
    font-weight: 700;
}

.subHead {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 8.0pt;
    margin-left: 0in;
    line-height: 107%;
    font-size: 15px;
    color: #4A4A4A;
}

.font-bold{
    font-weight: 600;
}

li{
    list-style-type: circle
}

.lh25{
    line-height: 25px;
}