<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>Privacy Policy</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goBack()" *ngIf="isFromLogin" color="light">
                <ion-icon slot="end" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p class="subHead lh25"><strong>Privacy Statement</strong></p>
    <p class="subHead lh25">Thank you for visiting a web site designed and maintained by the Department of Driver
        Services. Our web sites
        are designed to make it easier and more efficient for Georgians to interact with their State Government.
        But as with all online resources, we appreciate that many visitors to our sites will be concerned about
        their privacy. The State of Georgia is committed to preserving your privacy when you visit our sites.</p>
    <p class="subHead lh25">This privacy statement addresses the collection, security and disclosure of information that
        may be obtained
        through the use of web sites maintained by the Department of Driver Services. This statement covers the
        following topics:</p>
    <ul style="list-style:disc; padding-left:30px;">
        <li>
            Information We Collect
        </li>
        <li>
            Public Disclosure
        </li>
        <li>
            Cookies
        </li>
        <li>
            Security
        </li>
    </ul>
    <p class="subHead lh25"><strong>Information Collected</strong></p>
    <p class="subHead lh25">If you visit a web site maintained by the Department of Driver Services to read or download
        information,
        we may collect some or all of the following information:</p>
    <ul style="list-style:disc; padding-left:30px;">
        <li>The name of your domain; for example, "xyzcompany.com" if you use a private Internet access account;</li>
        <li>An IP address; a number automatically assigned to your computer when you are using the Internet;</li>
        <li>The type of browser and operating system used to access our site;</li>
        <li>The Internet address of the web site from which you linked directly to our site;</li>
        <li>The pages you visit within The State of Georgia's web site(s); and</li>
        <li>The links made to other web sites through this site.</li>
    </ul>
    <p class="subHead lh25">This information is collected for statistical analysis using third party or proprietary
        software programs to create summary
        statistics. The statistics are used for the purpose of determining what information is of most and least
        interest to all visitors and identifying system performance or problem areas. This information is not
        collected for commercial marketing purposes.</p>
    <p class="subHead lh25">If, during your visit to a web site maintained by the Department of Driver Services, you
        voluntarily
        provide personally identifiable information, we will collect such information. Examples of personally
        identifiable information may include:</p>
    <ul style="list-style:disc; padding-left:30px;">
        <li>An e-mail address if you are communicating to us through e-mail;</li>
        <li>Information you voluntarily submit to the State of Georgia for the purposes of completing or submitting
            an application or form online such as social security number, telephone, etc.; and </li>
        <li>Other information volunteered, such as vendor profile/contact information, survey information or
            content of e-mail.</li>
    </ul>
    <p class="subHead lh25">In general, please note the information collected, whether or not personally identifiable,
        is not limited to text characters
        and may include audio, video and other graphic formats you send us. Information is retained in accordance
        with existing laws, rules, regulations, and other policies.</p>
    <p class="subHead lh25"><strong>Public Disclosure</strong></p>
    <p class="subHead lh25">As a general rule, the Department of Driver Services does not disclose any personally
        identifiable information collected
        online except where you have given us permission, or where the information is public information under
        the Georgia Open Records Act O.C.G.A. § 50-18-70 et seq., or is subject to disclosure under other applicable
        laws. The Department of Driver Services may provide personally identifiable information to other governmental
        entities. For example, information provided to initiate the voter registration process will be transferred
        to the Secretary of State. Visitors should be aware that information collected by the State of Georgia
        on its web sites may be subject to examination and inspection, if such information is a public record
        or not otherwise protected from disclosure. Additionally, personally identifiable information may be
        disclosed if subject to a subpoena or court order issued by a court of competent jurisdiction.</p>
    <p class="subHead lh25"><strong>Cookies</strong></p>
    <p class="subHead lh25">The Department of Driver Services may occasionally use "cookies" to customize your browsing
        experience. Cookies
        are simple text files placed on your hard drive by a web site that monitors your usage of that particular
        site, generally without your knowledge. They provide a method of distinguishing among visitors to the
        web sites, and allowing customized features such as a "shopping cart" feature for online purchasing.
        Cookies created on your computer by using our web sites do not contain personally identifiable information
        and do not compromise your privacy or security. You can refuse the cookie or delete the cookie file from
        your computer at any time by using any one of a number of widely available methods.</p>
    <p class="subHead lh25"><strong>Security</strong></p>
    <p class="subHead lh25">Several tools, policies and protocols are used to safeguard the submission of information
        through web sites maintained by
        the Department of Driver Services. Security measures have been integrated into the design, implementation
        and day-to-day operations of the entire operating environment as part of our continuing commitment to
        the security of electronic content as well as the electronic transmission of information. In certain
        instances, you will have the opportunity to receive or create a password to access or submit certain
        information. You should not divulge your password to anyone in an unsolicited phone call or e-mail. When
        you are finished with those applications that are password protected, it is always recommended that you
        close or otherwise exit the browser page. If you feel your password has been compromised, please contact
        the Department of Driver Services Help Desk between 8:00 AM and 4:00 PM, Monday - Friday at 678-413-8600.</p>
    <p class="subHead lh25"><strong>Link Disclaimer</strong></p>
    <p class="subHead lh25">Web sites maintained by the Department of Driver Services may contain links to other web
        sites, including those owned or
        maintained by other government, private, or not-for-profit entities. Such links are provided for convenience
        and/or information purposes only. A link does not constitute an endorsement of content, viewpoint, policies,
        products or services of that web site once you link to a web site not maintained by the Department of
        Driver Services, you are subject to the terms and conditions of that web site, including but not limited
        to its privacy policy. The Department of Driver Services, the Georgia Technology Authority and their
        respective employees, officers, and agencies shall not be held liable for any losses caused by the reliance
        upon information accessed from web sites whose links are contained herein.</p>
    <p class="subHead lh25"><strong>Information Disclaimer</strong></p>
    <p class="subHead lh25">Information provided on web sites maintained by the Department of Driver Services is
        intended to allow the public convenient
        access to public information. While all attempts are made to provide accurate, current and reliable information
        we cannot guarantee that the information will be error-free. Therefore, the State of Georgia, the Department
        of Driver Services, and their respective employees, officers and agencies expressly deny any warranty
        of the accuracy, reliability or timeliness of any information published through their web sites and shall
        not be held liable for any losses caused by reliance upon the accuracy, reliability or timeliness of
        such information. Any person who relies upon such information obtained from these web sites, does so
        at his or her own risk.</p>
    <p class="subHead lh25"><strong>Trademarks, Service Marks, and Copyrights</strong></p>
    <p class="subHead lh25">All trademarks, service marks or copyrights appearing on this web site and other linked web
        sites are trademarks, service
        marks, or copyrights of their respective owners. Pursuant to 17 U.S.C. Sec. 512(c)(2), notice of claims
        of copyright infringement should be directed to the Office of General Counsel, 2206 Eastview Parkway,
        Conyers, GA 30013.</p>
    <p class="subHead lh25"><strong>Usage of This Web site</strong></p>
    <p class="subHead lh25">The contents of this web site are published for information purposes only and are subject to
        change without notice. If services
        change or the Department of Driver Services opts to use personal information for purposes other than
        herein described, notice will be provided.</p>
    <p class="subHead lh25"><strong>Unauthorized Usage</strong></p>
    <p class="subHead lh25">Unauthorized attempts to upload information or change information of service are strictly
        prohibited and may be punishable
        under state and/or federal laws.</p>
    <p class="subHead lh25"><strong>Access to Your Information</strong></p>
    <p class="subHead lh25">You may have access to any of the information we collect about you at this site.</p>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-button expand="block" (click)="goBack()">DECLINE</ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" (click)="goBack()">I AGREE</ion-button>
            </ion-col>
        </ion-row>


    </ion-toolbar>
</ion-footer>