
<ion-header class="safe–area ion-no-border">
  <ion-toolbar style="height: 1px;" color="light">
  </ion-toolbar>
</ion-header>
<ion-content style="--background: #f4f5f6">
  <br>
  <div class="divMaxWidth">
    <form [formGroup]="loginForm" (ngSubmit)="clickSubmit()" novalidate>
    <img src="assets/imgs/logo.jpeg" alt="" class="logo" />
    <ion-card style="padding: 15px 20px">
      <ion-item>
        <ion-input
          type="email"
          label="Email Address"
          labelPlacement="floating"
          placeholder="Enter email"
          formControlName="userEmail"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [type]="showPassword ? 'text':'password'"
          label="Password"
          labelPlacement="floating"
          placeholder="Enter password"
          formControlName="userPassword"
        ></ion-input>
        <ion-button (click)="toggleEye()" fill="clear">
          <ion-icon slot="icon-only" [name]="showPassword? 'eye-outline': 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-item>
      
      <ion-item class="ion-no-padding" lines="none">
        <ion-checkbox 
        labelPlacement="end" 
        class="checkbox"
        formControlName="saveId"
        (ionChange)="saveIdChange($event)"
        ></ion-checkbox>
        <div class="blueClr">Save email address</div>
      </ion-item>
  
      <ion-item class="ion-no-padding" lines="none" (click)="fingerPrintLogin()">
        <ion-icon slot="start" name="finger-print-outline" style="margin-right:5px;color: #103a84"></ion-icon>
        <div class="blueClr" style="margin-left: 10px;">Biometric Login</div>
      </ion-item>
  
      <ion-button 
        class="ion-text-uppercase loginBtn" 
        [disabled]="!loginForm.valid"  
        [ngClass]="loginForm.valid ? 'btnEnabled' : 'btnDisabled'"
        type="submit"
      > Log in </ion-button>
  
      <div class="forgot" (click)="forgotpwd()">Forgot email address or password?</div>
      <div class="createAcc" (click)="createAcc()">Don't have DDS Online Services account?</div>
      <div class="createAcc"> <span class="forgot">Sign Up!</span></div>
    </ion-card>
  </form>
  
    <ion-row class="ion-no-padding">
      <ion-col size="6" class="ion-no-padding" (click)="openinAppBrowser('https://dds.drives.ga.gov/?link=PayFees')">
        <ion-card class="grid-card">
          <div><img src="assets/imgs/dollar.png" alt="" /></div>
          <div> PAY FEE(S)</div>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding" (click)="openinAppBrowser('https://dds.drives.ga.gov/?link=CscSkipAStep')">
        <ion-card class="grid-card">
          <div><img src="assets/imgs/edit.png" alt="" /></div>
          <div> VISITING A CENTER? START HERE!</div>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding" (click)="openinAppBrowser('https://dds.drives.ga.gov/?link=RoadTest')">
        <ion-card class="grid-card">
          <div><img src="assets/imgs/date.png" alt="" /></div>
          <div> MAKE A ROAD TEST APPOINTMENT</div>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding" (click)="openinAppBrowser('https://dds.drives.ga.gov/?link=OCRA')">
        <ion-card class="grid-card">
          <div><img src="assets/imgs/cert.png" alt="" /></div>
          <div> VERIFY OR PRINT A CERTIFICATE</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <div style="  width: fit-content;margin: auto;margin-top: 20px;">
      <span (click)="privacy()" class="privacy">Privacy Policy</span> | <span class="privacy" (click)="terms()">Terms and Conditions of Use</span>
    </div>
  </div>
    <br>
    <ion-modal
      trigger="open-modal"
      (willDismiss)="modalwilldiscmiss()"
      [isOpen]="isModalOpen"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Verify It's You</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()" color="light"
                ><ion-icon name="close-circle-outline"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            For your security, DDS wants to make sure this account really belongs
            to you.
          </p>
          <hr />
  
          <div>
            <h4>Verify Security Code</h4>
            <p>
              A security code was sent to the preferred contact method we have on
              file for you at DDS, either phone number or email. Please enter the
              security code and select the <b>Continue</b> button below to verify.
            </p>
          </div>
  
          <ion-item style="border-bottom: 1px solid #999;" class="securityCode">
            <ion-label position="stacked">Security Code</ion-label>
            <ion-input
              type="text"
              placeholder=""
              [(ngModel)]="securityCode" 
              
            ></ion-input>
          </ion-item>
  
          <p>
            <b
              >If you do not receive your message, please lo into Online Services
              to confirm your security code is setup properly. If it is, check
              with your phone carrier or email provider.</b
            >
          </p>
        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <ion-button
              expand="block"
              fill="clear"
              (click)="validateSecurityCode()"
              [disabled]="securityCode ==''?true : false"
              >CONTINUE</ion-button
            >
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  
    <ion-modal
      trigger="fingerprint-open-modal"
      (willDismiss)="fingerPrintModalDismiss()"
      [isOpen]="isFingerprintModalOpen"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Terms and Conditions</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeFingerprintModal()" color="light"
                ><ion-icon name="close-circle-outline"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div style="text-align: center">
            <img src="/assets/fprint.jpg" class="" />
          </div>
          <p>
            <b>
              Terms and Conditions for Enabling Biometric Authentication using
              Touch ID, Fingerprint or Face ID with the Department of Driver
              Services (DDS) Mobile Services
            </b>
          </p>
          <p>
            To enable biometric authentication for sign in, you are required to
            save your DDS User ID on this device.
          </p>
          <p>
            DDS does not control the functionality of fingerprint, Touch ID or
            Face ID and does not have access to your fingerprint(s) or facial
            recognition information. You Understand and agree that any fingerprint
            stored on this device can be used to access your accounts in DDS
            Mobile Services. For more information on how biometric functionality
            works for your device, please refer to your device manufacture's
            support resources. There may be circumstances where biometric
            authentication will not function as expected and sign in will require
            your Passcode.
          </p>
          <p>
            By choosing Accept, you agree to these Terms and Conditions. Choose
            Decline to cancel set up.
          </p>
          <br />
        </ion-content>
        <ion-footer>
          <ion-toolbar>
            <ion-row>
              <ion-col>
                <ion-button color="medium" (click)="declineTerms()"
                  >DECLINE</ion-button
                ></ion-col
              >
              <ion-col>
                <ion-button color="primary" (click)="acceptTerms()"
                  >ACCEPT</ion-button
                ></ion-col
              >
            </ion-row>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer>
 <ion-toolbar color="primary" style="margin-bottom: -2px;">
    <ion-segment mode="md" style="height: 50px;" [ngClass]="platform.is('ios') ? 'mb5':''" [(ngModel)]="selectedSegment">
      <ion-segment-button (click)="location()" value="Location">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Location</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="more()" value="Location">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        <ion-label>More</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
  