ion-content{
  //For Andriod need to set background-none else map will not show up
  --background: none;
}
ion-segment-button.md::part(indicator-background){
  background:#103a84;
}
ion-segment-button.ios::part(indicator-background){
  background:white;
}
.container {
  height:100%;
  width: 100%;
}
.container-map {
  height:70%;
  width: 100%;
  position:absolute;
}
.container-list{
  height: 80%;
  width: 100%;
  margin-top:-5px
}
.viewcontainer{
  height: 100%;
  width: 100%;
}
capacitor-google-map{
  display: inline-block;
  width: 100%;
  height: 50%;
}
.scroll {
  height: 100%;
}
ion-label{
  font-size: small;
  word-wrap: break-word;
  }
ion-item{
  font-size: small;
}
ion-list-header{
  padding: 0%;
  margin: 0%;
  padding-left: 5%;
  //margin-top:-4%;
  background-color: rgb(226, 226, 226);
}
ion-toolbar{
  --background:#103a84;
}