<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title>Contact Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <div style="padding: 15px;">
      <p class="font24">
          Contact Us
      </p>
      <p style="color: #888;">
          Georgia Department of Driver Services
          <br> 2206 East View Parkway
          <br> Conyers, Georgia 30013
          <br>
          <span style="color: #ff0000; text-decoration: underline;" (click)="openmap()"> Map</span>
          <br>
      </p>
      <p style="color: #888;">
          <span style="color: black ;font-weight: bold"> Mailing Address :</span>
          <br> Department of Driver Services
          <br> Post Office Box 80447
          <br> Conyers, Georgia 30013
          <br>
      </p>
      <p class="font16">
          DDS Contact Center Information
      </p>
      <br>
      <p class="font16">
          <span style="text-decoration: underline"> Driver's License Information</span>
      </p>
      <div style="padding-left: 30px; background: #eee;">
          <span style="text-decoration: underline">Contact Center Hours: </span>
          <br> Monday - Friday
          <br>
          <br> Operating Hours: 7:30 AM - 5:30 PM
          <br>
          <br>
      </div>
      <div style="padding-left: 30px; background: #eee;">
          <span style="text-decoration: underline">Contact Numbers: </span>
          <br> <a href="tel:(678) 413-8400">(678) 413-8400</a>
          <br>
          <br>
      </div>
      <p class="font11" style=" text-align: justify; ">
          NOTE: Tuesday is our busiest day with longer wait times. If convenient, please call on Monday or Wednesday through Friday to avoid extended wait times. The DDS Mobile App is available 24/7 for your convenience.
      </p>
  </div>
  
  </ion-content>
  