.title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    span{
        color: #103a84;
    }
}

.version{
    margin-top: 10px;
    font-weight: 500;
}

.appDetails{
    color: #999;
    font-size: 14px;
    margin-top: 20px;
    line-height: 20px;
}