<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="title">About <span>DDS 2 Go</span> App</div>
  <div class="version">Version : {{ appVersion }}</div>
  <p class="appDetails">Use the DDS 2 GO app to access your DDS account to view your free 2-year driving record, account alerts, your driving status, fee(s), points, schedule a road test appointment and more, all at your fingertips.</p>
</ion-content>