.cardTitle {
  font-size: 17px;
  letter-spacing: 0.2px;
}
.cardContent {
  padding: 5px;
  .col1 {
    color: #103a84;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 5px 2px;
  }
  .col2 {
    font-size: 14px;
    padding: 5px 2px;
    font-weight: 500;
  }
}

.titleMsg{
  font-size: 20px;
  margin: 10px 0px;
  letter-spacing: 0.5px;
  margin-top: 25px;
}
