<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657018493833-mc7gtto0u8ade5ik8l5sfm54u3tgaas3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657018493833-mc7gtto0u8ade5ik8l5sfm54u3tgaas3</string>
	<key>API_KEY</key>
	<string>AIzaSyAViNYmqELln06K-3Osq9yCOmzYGGGBNuE</string>
	<key>GCM_SENDER_ID</key>
	<string>657018493833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gov.ga.dds.gaddsstaging</string>
	<key>PROJECT_ID</key>
	<string>dds-mobile-app-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>dds-mobile-app-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657018493833:ios:b52f537e806b00d7e41f58</string>
</dict>
</plist>